@import url(variables.css);

main {
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px auto 200px;
    grid-template-areas:
    'header'
    'main'
    'footer';
}

    /* Main */
h1 {
    text-align: center;
    margin: 50px 0px;
}

.hikingjacket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
}

.image {
    border: 1px solid #eeedec;
    min-width: 400px;
}

.jacket-img {
    width: 100%;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    margin: 5px 10px;
}

input:checked {
    border: 3px solid black;
}

.circle input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checked {
    border: 2px solid black;
}

.circle input:checked{
    box-shadow: inset 0 0 3px #000;
}

.beige {
    background-color: #D1c0A8;
}

.red {
    background-color: #B0583A;
}

.green {
    background-color: #4C5D34;
}

.black {
    background-color: black;
}

.sizes label {
    display: inline-block;
    font-size: 1,5em;
    padding: 10px;
    margin: 0px;
}

.textinfo {
    margin-left: 10px;
    max-width: 500px;
}

.textinfo button {
    height: 45px;
}

.information {
    margin: 20px 0;
}

.section-header {
    font-weight: bold;
    font-size: 16px;
    color: black;
    margin-top: 20px;
}

.price {
    margin: 40px 0 20px 0;
}

.price p{
    display:inline-block;
    margin-right: 100px;
}

.price :nth-child(1) {
    font-weight: bold;
    font-size: 16px;
}

.price :nth-child(2) {
    font-weight: bold;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.color-selection, .size-selection {
    display: none;
}

.color-selection:checked+ .circle {
    border: 3px solid var(--main-color);
    padding: 13px;
}

.size-selection:checked+ .size-label {
    font-weight: 500;
    text-decoration: underline;
}

@media (min-width: 660px) {
    .hikingjacket {
        flex-direction: row;
    }
}