/* Main */
h1 {
    margin: 50px 0 20px 10px;
}

.about {
    background-color: #0A3641;
    color: #FFF;
    min-height: 400px;
    display: flex;
    align-items: center;
}

.about-content {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

@media (min-width: 1000px) {
    h1 {
        max-width: 1000px;
        margin: 50px auto 20px auto;
    }
}