body {
    margin: 0;
    min-height: 100vh;
}

/* Main */
h1 {
    margin: 50px 0 20px 25px;
}

.confirmation {
    background-color: #D9DDD1;
    border-radius: 20px;
    border: 2px solid #eeedec;
    max-width: 1000px;
    margin: 50px auto;
    padding: 30px 0px 30px 25px;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

@media (min-width: 1000px) {
    h1 {
        max-width: 1000px;
        padding-left: 50px;
        margin: 50px auto 20px auto;
    }
}