body {
    margin: 0;
    min-height: 100vh;
}
/* Main */
h1 {
    margin-left: 10px;
}

fieldset {
    border: 0;    
    background-color: #D9DDD1;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1000px;
}

.billing > * {
    display: block;
}

legend {
    padding: 10px;
    font-weight: bold;

}

label {
    padding: 7px 0px 0px 10px;
}

input {
    padding: 10px 100px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #bebebe;
}

.cardpay {
    display: none;
}

#card:checked ~ .cardpay {
    display: block;
}

.payment-button {
    display: flex;
    justify-content: space-around;
    margin: 0px 0px 50px 0px;
}

.cta {
    background-color: #0A3641;
    color: #fff;
    padding: 7px 20px;
    margin-bottom: 50px;
    border-radius: 10px;
    float: right;
    width: 200px;
    height: 40px;
}

    /* Web */   
@media  (min-width: 1000px) {
    h1 {
        max-width: 1000px;
        margin: 10px auto;
    }
}