input, textarea {
    border: 1px solid #FFF;
    border-radius: 5px;
}
/* Main */
h1 {
    margin-left: 50px;
}

.contact {
    background-color: #0A3641;
    color: #FFF;
    padding: 20px;
}

.contact-area {
    display: flex;  
    max-width: 1000px;
    margin: 0 auto;
}

.contact-text {
    flex: 1;
    margin: 50px;
}

.contact-info {
    flex: 1;
    padding-top: 80px;
    margin: 50px;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

@media (min-width: 1000px) {
    h1 {
        max-width: 1000px;
        padding-left: 50px;
        margin: 50px auto 20px auto;
    }
}