/* Main */

main {
    margin: 0;
}

/* Welcome section */
.welcome {
    min-height: 100px;
    position: relative;
    background-image: url("../images/coverimage_small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    min-height: 40vh;
}

.welcome-content {
    position: absolute;
    top: 150px;
    left: 50px;
    color: #fff;
    text-transform: uppercase;
}

/* Explore section (change name later)*/
.featured {
    display: grid;
    gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    'explore-one'
    'explore-two'
    'explore-three'
    'explore-four';
}

.exploreheader {
    margin: 30px 0px;
    text-transform: uppercase;
    text-align: center;
}

.explore:nth-child(1) {grid-area: explore-one;}
.explore:nth-child(2) {grid-area: explore-two;}
.explore:nth-child(3) {grid-area: explore-three;}
.explore:nth-child(4) {grid-area: explore-four;}

.explore_images {
    border-radius: 10px;
    max-width: 100%;
}

/* Trending section */
.trending {
    background-color:  #0A3641;
    color: #FFF;
    margin: 50px 0px;
    padding: 20px;
}

.trending-content {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    align-items: center;
}

.trending img {
    width:100%;
    max-width: 800px;
    height: auto;
    flex: 1;
}

.trending-text {
    margin: 10px;
    flex: 1;
    padding: 20px;
}

/* Links (do I really need this?) */
.cta {
    background-color: #D9DDD1;
    color: black;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 7px;
    padding: 10px 20px;
    position: relative;
}

a {
    text-decoration: none;
}

@media  (min-width: 600px) {
    .featured {
        margin: 50px auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        'explore-one explore-two'
        'explore-three explore-four';
    }
}

@media  (min-width: 800px) {
    .featured {
        max-width: 1000px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        'explore-one explore-two explore-three explore-four';
    }

    .trending-content {
        display: flex;
        flex-direction: row-reverse;
        max-width: 1000px;
        margin: 50px auto;
        align-items: center;
    }

    .trending-content > * {
        flex: 1;
    }
}