body {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr; /* Don't set to auto because it will only span length of content*/
    grid-template-rows: 80px auto 200px;
    grid-template-areas:
    'header'
    'main'
    'footer';
    }

    /* Header */

header {
    grid-area: header;
    background-color: #D9DDD1;
    display: flex;
    align-items: center; /* doesn't work without flex */
    justify-content: space-between;
    min-height: 80px;
}

.logo {
    max-width: 100px;
    padding: 10px;
    float: left; /* doesn't work because of flex on header */
    order: 1;
}

nav {
    order: 2;
}

nav, #hamburger-menu {
    display: none;
}


.hamburger-label {
    float: right; /* doesn't work because of flex on header */
    order: 3;
    color: #0A3641;
    padding: 10px;
    display: block;
    font-size: 1.5em;
}

nav ul {
    padding: 0px;
}

nav li {
    display: block;
}

nav a {
    text-decoration: none;
    color: #0A3641;
    padding: 5px 10px;
    display: block;
}

nav a:hover, .current {
    text-decoration: underline;
}


#hamburger-menu:checked ~ nav {
    display: block;
}

/* Main */

main {
    margin: 0;
    grid-area: main;
}

.welcome {
    min-height: 100px;
}

.explore_images {
    border-radius: 10px;
}

.trending {
    background-color:  #0A3641;
}

/* Footer */

footer {
    margin: 0;
    grid-area: footer;
    background-color: #92A190;
}


/* Tablet */

@media  (min-width: 600px) {
    body {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 80px auto 1fr;
        grid-template-areas: 
        'header header'
        'main main'
        'footer footer'
        ;
    }

    /* Header tablet*/
    nav {
        display: inline-block;
    }

    nav li {
        display: inline-block;
    }

    #hamburger-menu, .hamburger-label {
        display: none;
    }

    /* Main tablet*/    
    .welcome {
    background-image: url("../images/coverimage_small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    min-height: 40vh;
    position: relative;
}

    /* Footer tablet*/
}

/* Web */

@media  (min-width: 800px) {
}