body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

    /* Header */
header {
    background-color: #D9DDD1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
}

.logo {
    max-width: 100px;
    padding: 10px;
    order: 1;
}

nav {
    order: 2;
}

nav, #hamburger-menu {
    display: none;
}


.hamburger-label {
    order: 3;
    color: #0A3641;
    padding: 10px;
    display: block;
    font-size: 1.5em;
}

nav ul {
    padding: 0px;
}

nav li {
    display: block;
}

nav a {
    color: #0A3641;
    padding: 5px 10px;
    display: block;
}

nav a:hover, .current {
    text-decoration: underline;
}


#hamburger-menu:checked ~ nav {
    display: block;
}



/* Footer */
footer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr 20px;
    grid-template-areas:
    'bottomlogo tiny-links-one tiny-links-two'
    '. copyright .';
    align-items: center;
    justify-items: center;
    margin: 0;
    background-color: #92A190;
    min-height: 150px;
}

.bottomlogo {
    grid-area: bottomlogo;
    display: flex;
}
.tiny-links-one {grid-area: tiny-links-one}
.tiny-links-two {grid-area: tiny-links-two}

footer ul {
    padding: 0px;
}

footer li {
    display: block;
    padding: 3px;
}

footer li a {
    color: #0A3641;
}

.tiny-links-one a, .tiny-links-two a {
    text-decoration: none;
}

.tiny-links-one a:hover, .tiny-links-two a:hover {
    text-decoration: underline;
}

.copyright {
    grid-area: copyright;
    text-align: center;
    margin: 0px;
}

.copyright::before, .copyright::after {
    content: ' / ';
    color: #0A3641;
    font-weight: bold;
}


/* Tablet */

@media  (min-width: 600px) {
    /* Header tablet*/
    nav {
        display: inline-block;
        margin-right: 60px;
    }

    nav li {
        display: inline-block;
    }

    nav a {
        padding: 10px;
    }

    #hamburger-menu, .hamburger-label {
        display: none;
    }
}